.top-nav{
  font-family: "Nunito";
  color:#F7F3EB;
  background-color: #2E1301;
}
.top-nav .container-fluid {
  background-color: #2E1301;
}
.top-nav img {
  height: 2.4em;
  width: 2.6em;
  object-fit: cover;
  // object-position: center;
}
.wecook{
  font-size:2.2rem;
  font-weight: bold;
  color: #F7F3EB
}
.we {
  color: #E45900;
}
.top-nav a {
  text-decoration: none;
  font-weight: bold;
  color: #F7F3EB;
  i {
    color: inherit;
  }
}
 .top-nav a:visited,
 .top-nav a:hover{
  color: inherit;
}
.top-nav .account button{
  font-weight: bold;
  text-decoration: inherit;
  color: #F7F3EB;
  background-color: #2E1301;
  border: none;
}
#account-dropdown:focus
{
  color: #F7F3EB;
  }
#account-dropdown:hover{
color: #F7F3EB;
}
.top-nav .account .account-username {
  max-width: 8m;
  min-width: max-content;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto auto auto .5em;
}
.top-nav .account div{
  background-color: #2E1301;
  color: inherit;
}
.top-nav .navbar-nav .account div a:visited{
  background-color: #2E1301;
  color: #F7F3EB;
  font-weight: bold;
}
.top-nav .navbar-nav .account div a:hover{
  background-color: #F7F3EB;
  color: #2E1301;
  font-weight: bold;
}
.top-nav form{
  max-width: 100%;
  min-width: 20em;
}
#searchbar{
  width: 18em;
  height: 2em;
  outline: 1px solid #F7F3EB;
  border-radius: 0.5rem;
  background-color: #2E1301;
  padding: 0.7em;
  color: #F7F3EB;
  font-family: Bootstrap-icons, "Nunito";
} 
#searchbar::placeholder{
  color: #887569;
}

//Responsive style
.navbar-toggler
{
  border-color: transparent;
  &:focus 
  {
    box-shadow:none !important;
    outline: none !important;
  }
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 243, 235,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

@media screen and (max-width: 992px)
 {
  .top-nav 
  {
    .navbar-nav 
    {
      text-align: right;
      .nav-link{
        width: max-content;
        margin-left: auto;
      }
      .account {
        li 
        {
          .dropdown-menu 
          {
            text-align: right;
            border: transparent;
          }
          .dropdown-item
          {
            width: max-content;
            margin-left: auto;
            color: #F7F3EB;
          }
          .dropdown-item:hover
          {
            background-color: #F7F3EB;
            color: #2E1301;
          }
          .account-username
          {
            text-align: right;
          }
        }
      } 
      
      #searchbar
      {
        margin-left: auto;
      }
    }
  }
}