.comment_qa{
  color: #2E1301;
  font-family: "Nunito";
}
.tab_menu 
{
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  max-height: 100px;
  width: 100%;
  font-size: 32px;
  box-shadow: #4D1F01;
}
.tab_menu-item 
{
  font: bold 72% "Nunito";
  list-style: none;
  max-width: 20%;
  padding: 1rem .2rem;
  text-align: center;
  margin-right: 0.8%;
  margin-top: 0;
  background-color: #DBD2C8;
  border-top-left-radius: 0.5em 0.5em;
  border-top-right-radius: 0.5em 0.5em;
  cursor: grab;
  transition: all 0.2s;
  box-shadow: .1em -.01rem 1px rgba(0, 0, 0, 0.196);
  i{
    color: #947965;
  }
  .counts{
    font-size: 0.8em;
    color: #887569;
  }
}
.tab_menu-item:first-of-type {
  min-width: 24%;
}
  /* is-active style */
.tab_menu-item.is-active 
{
  background-color: #FEFDFD;
  padding: 1.3rem 0;
  font-size: 0.9em;
  i{
    color: #e45900;
  }
  .counts{
    font-size: 0.8em;
  }
}
  /* tab panel style */
.tab_panel-box
{
  /* min-height: 80%; */
  box-shadow: .1em .1rem 3px rgba(0, 0, 0, 0.253);
  padding: 1rem 0.3rem;
  border-radius: .2rem 1rem 1rem 1rem;
  background-color: #FEFDFD;
  display: none;
    a 
    {
      text-decoration: none;
      color: #e45900;
    }
}
.tab_panel-box.is-show {
  display: block;
}
//Common style
input {
  border: solid #e45900 .15em;
  border-radius: .5em .5em;
  color: #4D1F01;
  font-weight: bold;
}
input[type="text"]:focus {
  outline: none;
  border: solid #e45900 .15em;
}
input::placeholder {
  color: #4d1f0191;
  font-weight: bold;
}
img {
  width: 3.4em;
  height: 3.6em;
  object-fit: cover;
  border-radius: 50%;
}
.add {
  color: #F7F3EB;
  font-weight: inherit;
  background-color: #e45900;
  box-shadow: 0 .1em .2em #887569;
  width: 17%;
}
// Comment Style
.comments {
  background-color: #F7F4F4;
  border-radius: .7em .7em;
  box-shadow: 0 .1em .2em #8875699a;
.username{
  color: #4D1F01;
  font-weight: 800;
  font-size: 1.2em;
  }
}
.comments-owner 
{
  background-color: #FCF0E9;
  border-radius: .7em .7em;
  box-shadow: 0 .1em .2em #8875699a;
  button {
    background-color: #4d1f0142;
    color: #4d1f01b0;
    font-weight: bold;
    border: none;
    box-shadow: none;
    border-radius: 1em;
    box-shadow: .1em .08rem .1em #8875699a;
  }
  .username {
    color: #4D1F01;
    font-weight: 800;
    font-size: 1.2em;
  }
}
.user_account {
  width: max-content;
  margin-left: auto;
}

// Qestion Style
.questions 
{
  .username
  {
    max-width: 3em;
    min-width: 5em;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
  .user_question
  {
    display: flex;
    flex-wrap: wrap;

    .question_body
    {
      position: relative;
      display: inline-block;
      margin: 1em 1.3em 1.55em;
      padding: 1em 1.3em;
      background: #F7F4F4;
      text-align: right;
      border-radius: 1em;
      box-shadow: 0 .1em .2em #8875699a;
      .q-content
      {
        display: flex;
        .qa_body 
        {
          width: max-content;
          margin: auto auto auto 1em;
        }
      }
      
      }

    .question_body::after
    {
      content: "";
      border: 1em solid transparent;
      border-top-color: #F7F4F4;
      filter: drop-shadow(.1em 0 #8875699a);
      position: absolute;
      top: 1.5em;
      right: -1em;
    }
    
    .edit-btn,
    .delete-btn button
    {
      background-color: #4d1f0142;
      color: #4d1f01b0;
      font-weight: bold;
      border: none;
      box-shadow: none;
      border-radius: 1em;
      box-shadow: .1em .08rem .1em #8875699a;
    }
  }
  .user_answer  
  {
    display: flex;
    flex-wrap: wrap;

    .answer_body
    {
      position: relative;
      display: inline-block;
      margin: 1.3em 1.3em 2em;
      padding: 1em 1.3em;
      background: #FCF0E9;
      text-align: left;
      border-radius: 1em;
      box-shadow: 0 .1em .2em #8875699a;
      .a-content
      {
        display: flex;
        .qa_body 
        {
          width: max-content;
          margin: auto auto auto 1em;
        }
      }
    }
    .answer_body::after
    {
      content: "";
      border: 1em solid transparent;
      border-top-color: #FCF0E9;
      filter: drop-shadow(-.05em 0 #8875699a);
      position: absolute;
      top: 1.5em;
      left: -1em;
    }
    .edit-btn,
    .delete-btn button
    {
      background-color: #4d1f0142;
      color: #4d1f01b0;
      font-weight: bold;
      border: none;
      box-shadow: none;
      border-radius: 1em;
      box-shadow: .1em .08rem .1em #8875699a;
    }
  }
}

/* Paginate style */
.pagination{
  padding:0 0 0 40%;
  margin-bottom: .5em;
  margin-top: .5em;
  line-height: 1.5em;
}
.page-link {
  font-family: "Nunito";
  color: #4d1f01;
}
.page-item .page-link {
  color: #4d1f01;
  border: solid .01em #e45900;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #fefdfd;
}
.pagination .page-item a {
  color: #4d1f01;
  border: solid .01em #e45900;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #fefdfd;
}
.pagination .active .page-link {
  border: solid .01em #e45900;
  color: #FCF0E9;
  background-color: #e45900;
  :hover{
    color: inherit;
  }
}
.page-item .page-link:hover {
  color: #4d1f01;
  background-color: #e457002c;
}
.disabled .page-link {
  border: solid .01em #e45900;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #fefdfd;
}

//no posts.
.tab_panel-box .sorry 
{
  font-family: "Nunito";
  font-weight: bold;
  padding: 1em;
  text-decoration: underline dotted #88756965 .1em;
}

// responsive style
@media (max-width: 992px) {
  .comment_qa .tab_menu-item
  {
    .tab-comments_questions
    {
      font-size: .7em;
    }
    .counts
    {
      font-size: .7em;
    }
  }
  //Commen style
  .comments 
  {
    .username
    {
      width: 6em;
      font-size: 1.2em;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  //answer style
  .answer
  {
    
    .user_answer .answer_body
    {
      position: relative;
      display: inline-block;
      margin: 1em 1.3em 1.3em;
      padding: .75em 1.3em;
      background: #FCF0E9;
      text-align: right;
      height: 100%;
    }
  }
 

  // Qestion Style
  .questions 
  {
    .username
      {
        max-width: 3em;
        min-width: 5em;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  }
}

@media (max-width: 800px)
{
  .comment_qa .tab_menu-item
  {
    .tab-comments_questions
    {
      display: none;
    }
  }
  .user_question
  {
    .q-content 
    {
      .q_icon
      {
        font-size: 1.8em;
        font-weight: bold;
        margin: auto;
      }
      .qa_body 
      {
        font-size: .9em;
        font-weight: 400;
      }
    }
    
  }
  .user_answer 
  {
    .a-content 
    {
      .a_icon
      {
        font-size: 1.8em;
        font-weight: bold;
        margin: auto;
      }
      .qa_body 
      {
        font-size: .9em;
        font-weight: 400;
      }
    }
  }
}